<div class="container">
  <div class="card">
    <div class="alinhamento">
      <h1>Books</h1>
      <button class="create-button">Create New</button>
      <div class="search-bar">
        <input type="text" placeholder="Search title" />
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books; let i = index">
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
